{% extends 'base.html' %}


{% block title %}
Генерирование данных
{% endblock %}


{% block navigate %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Генерирование данных</li>
        <li class="breadcrumb-item"><a href="/method-1">Метод введения идентификаторов</a></li>
        <li class="breadcrumb-item"><a href="/method-2">Метод перемешивания</a></li>
        <li class="breadcrumb-item"><a href="/method-3">Метод декомпозиции</a></li>
        <li class="breadcrumb-item"><a href="/summary">Результаты</a></li>
    </ol>
</nav>
{% endblock %}


{% block btns %}
<a class="btn btn-outline-secondary disabled" style="margin-right: 10px;">Назад</a>
<a class="btn btn-success" href="/method-1">Далее</a>
{% endblock %}


{% block body %}
<h1>Генерирование данных</h1>
<p class="bg-light rounded py-2 px-2">На данной странице необходимо сгенерировать тестовую таблицу с необезличенными
    данными. В дальнейшем эта таблица
    будет использоваться для оценки методов обезличивания и деобезличивания. Для генерирования данных введите количество
    записей.</p>
</br>

<form method="post">
    <div class="row">
        <div class="col-4 mb-3">
            <label for="personCount" class="form-label">Количество персон</label>
            <input type="number" class="form-control" id="personCount">
            <div id="personCountHelp" class="form-text">Количество персон не должно превышать 10.000</div>
        </div>
        <div class="col-8 my-auto">
            <button type="submit" class="btn btn-outline-primary py-4">Сгенерировать тестовую таблицу ПДн</button>
        </div>
    </div>
</form>
</br>
<!-- Таблица тестовых БД. -->
<div class="table-responsive">
    <table class="table table-bordered caption-top">
        <caption>Таблица необезличенных данных</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчетсво</th>
                <th scope="col">Институт</th>
                <th scope="col">Группа</th>
                <th scope="col">email</th>
                <th scope="col">Телефон</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Иванов</td>
                <td>Иван</td>
                <td>Иванович</td>
                <td>ИКБИСП</td>
                <td>БИСО-02-16</td>
                <td>some_email@index.com</td>
                <td>+79999999999</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Иванов</td>
                <td>Иван</td>
                <td>Иванович</td>
                <td>ИКБИСП</td>
                <td>БИСО-02-16</td>
                <td>some_email@index.com</td>
                <td>+79999999999</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Иванов</td>
                <td>Иван</td>
                <td>Иванович</td>
                <td>ИКБИСП</td>
                <td>БИСО-02-16</td>
                <td>some_email@index.com</td>
                <td>+79999999999</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- . -->
{% endblock %}