{% extends 'base.html' %}


{% block title %}
Генерирование данных
{% endblock %}


{% block navigate %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Генерирование данных</li>
        <li class="breadcrumb-item"><a href="#">Метод введения идентификаторов</a></li>
        <li class="breadcrumb-item"><a href="#">Метод изменения состава или семантики</a></li>
        <li class="breadcrumb-item"><a href="#">Метода декомпозиции</a></li>
        <li class="breadcrumb-item"><a href="#">Результаты</a></li>
    </ol>
</nav>
{% endblock %}


{% block body %}
<h1>Генерирование данных</h1>
<p>На данной странице необходимо сгенерировать тестовую таблицу с необезличенными данными. В дальнейшем эта таблица
    будет использоваться для оценки методов обезличивания и деобезличивания.
</p>
<p>Для генерирования данных введите количество записей.</p>
</br>

<form>
    <div class="row g-3 align-items-center">
        <div class="form-floating col-auto">
            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Количество записей</label>
        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
                Количество записей не должно превышать 10.000
            </span>
        </div>
        <div class="col">
            <button class="btn btn-primary" type="submit">Создать тестовую БД</button>
        </div>
    </div>
</form>
</br>
<!-- Таблица тестовых БД. -->
<div class="table-responsive">
    <table class="table table-bordered caption-top">
        <caption>Таблица необезличенных данных</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчетсво</th>
                <th scope="col">Институт</th>
                <th scope="col">Группа</th>
                <th scope="col">email</th>
                <th scope="col">Телефон</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Иванов</td>
                <td>Иван</td>
                <td>Иванович</td>
                <td>ИКБИСП</td>
                <td>БИСО-02-16</td>
                <td>some_email@index.com</td>
                <td>+79999999999</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Иванов</td>
                <td>Иван</td>
                <td>Иванович</td>
                <td>ИКБИСП</td>
                <td>БИСО-02-16</td>
                <td>some_email@index.com</td>
                <td>+79999999999</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Иванов</td>
                <td>Иван</td>
                <td>Иванович</td>
                <td>ИКБИСП</td>
                <td>БИСО-02-16</td>
                <td>some_email@index.com</td>
                <td>+79999999999</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- . -->
{% endblock %}