{% extends 'base.html' %}


{% block title %}
Генерирование данных
{% endblock %}


{% block navigate %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Генерирование данных</li>
        <li class="breadcrumb-item"><a href="/method-1">Метод введения идентификаторов</a></li>
        <li class="breadcrumb-item"><a href="/method-2">Метод перемешивания</a></li>
        <li class="breadcrumb-item"><a href="/method-3">Метод декомпозиции</a></li>
        <li class="breadcrumb-item"><a href="/summary">Результаты</a></li>
    </ol>
</nav>
{% endblock %}


{% block btns %}
<a class="btn btn-outline-secondary disabled" style="margin-right: 10px;">Назад</a>
<a class="btn btn-success" href="/method-1">Далее</a>
{% endblock %}


{% block body %}
<h1>Генерирование данных</h1>
<p class="bg-light rounded py-2 px-2">На данной странице необходимо сгенерировать тестовую таблицу с необезличенными
    данными. В дальнейшем эта таблица
    будет использоваться для оценки методов обезличивания и деобезличивания. Для генерирования данных введите количество
    записей.</p>
</br>

<form method="post" action="/generate-persons">
    <div class="row">
        <div class="col-4 mb-3">
            <label for="personCount" class="form-label">Количество персон</label>
            <input type="number" class="form-control" name="personCount" id="personCount" required>
            <div id="personCountHelp" class="form-text">Количество персон не должно превышать 1000</div>
        </div>
        <div class="col-8 my-auto">
            <button type="submit" id="btnGenerate" class="btn btn-outline-primary py-4">Сгенерировать тестовую таблицу
                ПДн</button>
        </div>
    </div>
</form>
</br>
<!-- Таблица тестовых БД. -->
<div class="table-responsive">
    <table class="table table-bordered caption-top">
        <caption>Таблица необезличенных данных</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Дата рождения</th>
                <th scope="col">Место рождения</th>
                <th scope="col">Почтовый адрес</th>
                <th scope="col">Электронная почта</th>
                <th scope="col">Серия паспорта</th>
                <th scope="col">Номер паспорта</th>
                <th scope="col">ИНН</th>
                <th scope="col">СНИЛС</th>
                <th scope="col">Номер телефона</th>
                <th scope="col">Данные о военной службе</th>
                <th scope="col">Семейное положение</th>
                <th scope="col">Расчетный счет</th>
                <th scope="col">Номер группы</th>
                <th scope="col">Название института</th>
            </tr>
        </thead>
        <tbody>
            {% for test_data in test_datas %}
            <tr>
                <td>{{ test_data.fio }}</td>
                <td>{{ test_data.birth_date }}</td>
                <td>{{ test_data.birth_place }}</td>
                <td>{{ test_data.post_address }}</td>
                <td>{{ test_data.email }}</td>
                <td>{{ test_data.passport_serial }}</td>
                <td>{{ test_data.passport_number }}</td>
                <td>{{ test_data.inn }}</td>
                <td>{{ test_data.snils }}</td>
                <td>{{ test_data.telephone }}</td>
                <td>{{ test_data.military_data }}</td>
                <td>{{ test_data.family_status }}</td>
                <td>{{ test_data.payment_account }}</td>
                <td>{{ test_data.group_number }}</td>
                <td>{{ test_data.institute_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- . -->
{% endblock %}