{% extends 'base.html' %}


{% block title %}
Метод перемешивания
{% endblock %}


{% block navigate %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Генерирование данных</a></li>
        <li class="breadcrumb-item"><a href="/method-1">Метод введения идентификаторов</a></li>
        <li class="breadcrumb-item"><a href="/method-2">Метод перемешивания</a></li>
        <li class="breadcrumb-item active" aria-current="page">Метод декомпозиции</li>
        <li class="breadcrumb-item"><a href="/summary">Результаты</a></li>
    </ol>
</nav>
{% endblock %}


{% block btns %}
<a class="btn btn-outline-secondary" href="/method-2" style="margin-right: 10px;">Назад</a>
<a class="btn btn-success" href="/summary">Далее</a>
{% endblock %}


{% block body %}
<h1>Метод декомпозиции</h1>
<p class="bg-light rounded py-2 px-2">На данной странице выполнятеся процедура обезличивания и деобезлчивания методом декомпозиции. Во время
    выполнения процедуры собираются некоторые данные, которые будут использоваться для оценивания этого метода в
    дальнейшем.
</p>
</br>

<form>
    <div class="row">
        <div class="col-4 mx-auto my-auto">
            <button class="btn btn-outline-primary py-4" type="submit">Запуск процедуры обезличивания и
                деобезличивания</button>
        </div>
        <div class="col-4">
            <p>Затраченное время (в секундах) на Обезличивание:</p>
            <h1 class="display-6">660</h1>
        </div>
        <div class="col-4">
            <p>Затраченное время (в секундах) на Деобезличивание:</p>
            <h1 class="display-6">4500</h1>
        </div>
    </div>
</form>
</br>
<!-- Обезличенная таблица. -->
<div class="table-responsive">
    <table class="table table-bordered caption-top">
        <caption>Обезличенная таблица данных</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчетсво</th>
                <th scope="col">Институт</th>
                <th scope="col">Группа</th>
                <th scope="col">email</th>
                <th scope="col">Телефон</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Иванов</td>
                <td>Иван</td>
                <td>Иванович</td>
                <td>ИКБИСП</td>
                <td>БИСО-02-16</td>
                <td>some_email@index.com</td>
                <td>+79999999999</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Иванов</td>
                <td>Иван</td>
                <td>Иванович</td>
                <td>ИКБИСП</td>
                <td>БИСО-02-16</td>
                <td>some_email@index.com</td>
                <td>+79999999999</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Иванов</td>
                <td>Иван</td>
                <td>Иванович</td>
                <td>ИКБИСП</td>
                <td>БИСО-02-16</td>
                <td>some_email@index.com</td>
                <td>+79999999999</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- . -->

{% endblock %}