{% extends 'base.html' %}


{% block title %}
Метод декомпозиции
{% endblock %}


{% block navigate %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Генерирование данных</a></li>
        <li class="breadcrumb-item"><a href="/method-1">Метод введения идентификаторов</a></li>
        <li class="breadcrumb-item"><a href="/method-2">Метод перемешивания</a></li>
        <li class="breadcrumb-item active" aria-current="page">Метод декомпозиции</li>
        <li class="breadcrumb-item"><a href="/summary">Результаты</a></li>
    </ol>
</nav>
{% endblock %}


{% block btns %}
<a class="btn btn-outline-secondary" href="/method-2" style="margin-right: 10px;">Назад</a>
<a class="btn btn-success" href="/summary">Далее</a>
{% endblock %}


{% block body %}
<h1>Метод декомпозиции</h1>
<p class="bg-light rounded py-2 px-2">На данной странице выполнятеся процедура обезличивания и деобезлчивания методом декомпозиции. Во время
    выполнения процедуры собираются некоторые данные, которые будут использоваться для оценивания этого метода в
    дальнейшем.
</p>
</br>

<form>
    <div class="row">
        <div class="col-4 mx-auto my-auto">
            <button class="btn btn-outline-primary py-4" type="submit">Запуск процедуры обезличивания и
                деобезличивания</button>
        </div>
        <div class="col-4">
            <p>Затраченное время (в секундах) на Обезличивание:</p>
            <h1 class="display-6">{{ experimental_data.time_to_depersonalization }}</h1>
        </div>
        <div class="col-4">
            <p>Затраченное время (в секундах) на Деобезличивание:</p>
            <h1 class="display-6">{{ experimental_data.time_to_undepersonalization }}</h1>
        </div>
    </div>
</form>
</br>
<div class="row">
    <!-- Таблица идентификаторов БД. -->
    <div class="table-responsive col-5">
        <table class="table table-bordered caption-top">
            <caption>Первая обезличенная таблица</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Идентификатор</th>
                    <th scope="col">Данные о военной службе</th>
                    <th scope="col">Семейное положение</th>
                    <th scope="col">Название института</th>
                </tr>
            </thead>
            <tbody>
                {% for data in first_table %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.military_data }}</td>
                    <td>{{ data.family_status }}</td>
                    <td>{{ data.study_institute }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- . -->
    <!-- Обезличенная таблица. -->
    <div class="table-responsive col-5">
        <table class="table table-bordered caption-top">
            <caption>Вторая обезличенная таблица</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Идентификатор</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Место рождения</th>
                    <th scope="col">Почтовый адрес</th>
                    <th scope="col">Электронная почта</th>
                    <th scope="col">Серия паспорта</th>
                    <th scope="col">Номер паспорта</th>
                    <th scope="col">ИНН</th>
                    <th scope="col">СНИЛС</th>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">Расчетный счет</th>
                    <th scope="col">Номер группы</th>
                </tr>
            </thead>
            <tbody>
                {% for data in second_table %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ test_data.fio }}</td>
                    <td>{{ test_data.birth_date }}</td>
                    <td>{{ test_data.birth_place }}</td>
                    <td>{{ test_data.post_address }}</td>
                    <td>{{ test_data.email }}</td>
                    <td>{{ test_data.passport_serial }}</td>
                    <td>{{ test_data.passport_number }}</td>
                    <td>{{ test_data.inn }}</td>
                    <td>{{ test_data.snils }}</td>
                    <td>{{ test_data.telephone }}</td>
                    <td>{{ test_data.payment_account }}</td>
                    <td>{{ test_data.group_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- . -->
    <div class="table-responsive col-2">
        <table class="table table-bordered caption-top">
            <caption>Таблица связей</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Идентификатор первой таблицы</th>
                    <th scope="col">Идентификатор второй таблицы</th>
                </tr>
            </thead>
            <tbody>
                {% for data in link_table %}
                <tr>
                    <td>{{ data.first_table_identifier }}</td>
                    <td>{{ data.second_table_identifier }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered caption-top">
            <caption>Деобезличенные данные</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">ФИО</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Место рождения</th>
                    <th scope="col">Почтовый адрес</th>
                    <th scope="col">Электронная почта</th>
                    <th scope="col">Серия паспорта</th>
                    <th scope="col">Номер паспорта</th>
                    <th scope="col">ИНН</th>
                    <th scope="col">СНИЛС</th>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">Данные о военной службе</th>
                    <th scope="col">Семейное положение</th>
                    <th scope="col">Расчетный счет</th>
                    <th scope="col">Номер группы</th>
                    <th scope="col">Название института</th>
                </tr>
            </thead>
            <tbody>
                {% for data in undepersonalize_data %}
                <tr>
                    <td>{{ data.fio }}</td>
                    <td>{{ data.birth_date }}</td>
                    <td>{{ data.birth_place }}</td>
                    <td>{{ data.post_address }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.passport_serial }}</td>
                    <td>{{ data.passport_number }}</td>
                    <td>{{ data.inn }}</td>
                    <td>{{ data.snils }}</td>
                    <td>{{ data.telephone }}</td>
                    <td>{{ data.military_data }}</td>
                    <td>{{ data.family_status }}</td>
                    <td>{{ data.payment_account }}</td>
                    <td>{{ data.group_number }}</td>
                    <td>{{ data.institute_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}